<h1>{{titulo}}</h1>
<!-- {{}} -> Interpolacion  -->
<!-- MOSTRAR HTML -->
<!-- Acceder a metodos y propiedades de la clase -->
<img [width]="tam"
     height="200px"
     [src]="imagen" alt="">
<input type="text" (keypress)="funcion1($event)">
<input type="text" (keypress)="funcion2($event)">
<!-- Property Binding -->
<!-- [atributo]="valor" -> Atributos -->
<p>El resultado de la suma es: {{num1+num2}}</p>
<p>El resultado de la resta es: {{num1-num2}}</p>
<p>El resultado de la multiplicacion es: {{num1*num2}}</p>
<p>El resultado de la divicion es: {{num1/num2}}</p>

<p>{{textoImagen}}</p>

<!-- Event Binding -->
<!-- [evento]="miFuncion($event)" -> Evento -->
<button (click)="aumentarSueldo()"
>
  {{textoBoton}}
</button>
